/* ----------------------------------------- */

/*  Fonts                                    */

/* ----------------------------------------- */

@font-face {
  font-family: "Typeka";
  src: url("../fonts/Typeka.otf");
}

/* ----------------------------------------- */

/*  Sheet Styles                             */

/* ----------------------------------------- */


/* ----------------------------------------- */

/*  Element Styles                           */

/* ----------------------------------------- */

.bitd.sheet input[type="text"] {
  background: none;
  border: 1px solid transparent;
}

.bitd.sheet input[type="text"]:hover, .bitd.sheet input[type="text"]:focus {
  border: 1px solid #111;
}

.bitd.sheet input[type="text"] {
  font-size: 15px;
}

/* ----------------------------------------- */

/*  All BitD Apps                            */

/* ----------------------------------------- */

.bitd .form-group label {
  flex: 2;
  font-weight: bold;
}

.bitd .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bitd .form-group .form-fields>* {
  flex: 1;
}

.bitd .form-group .form-fields .flex1 {
  flex: 1;
}

.bitd .form-group .form-fields .flex2 {
  flex: 2;
}

.bitd .form-group .form-fields .flex3 {
  flex: 3;
}

.bitd .form-group .form-fields .flex4 {
  flex: 4;
}

.bitd .form-group .form-fields>* {
  margin: 0 3px 0 0;
}

.bitd .form-group .form-fields>*:last-child {
  margin-right: 0;
}

.bitd .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}

.bitd .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}

.bitd .form-header {
  margin: 0 0 0.25em 0;
  padding: 0 2px;
  font-size: 20px;
  font-size: 24px;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}

.bitd .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

/* ----------------------------------------- */

/*  Entity Sheets                            */

/* ----------------------------------------- */

.bitd.sheet.actor form {
  font-family: "Typeka", "Signika", "Palationo Linotype", serif;
}

.bitd.sheet .sheet-header img {
  margin: 0px;
}

.bitd.sheet img.profile {
  flex: 0 0 120px;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  border: 10px solid #fff;
}

.bitd.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}

.bitd.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Typeka", "Signika", "Palationo Linotype", serif;
  font-size: 20px;
}

.bitd.sheet .sheet-navigation .item {
  font-size: 15px;
  border-bottom: 3px solid #b5b3a4;
}

.bitd.sheet .sheet-navigation .item.active {
  font-size: 15px;
  border-bottom: 3px solid #44191A;
}

.bitd.sheet .sheet-header {
  flex: 0 0 100px;
  font-size: 15px;
  /* Character Name */
  /* Background */
  /* Status */
}

.bitd.sheet .sheet-header h1 input {
  font-size: 25px;
  height: 25px;
  line-height: 25px;
  width: 96%;
  border-bottom: 2px outset #000;
}

.bitd.sheet.actor ul.background {
  flex: 0 0 100%;
  height: 40px;
  margin: 0px 0px 0px 10px;
  padding: 0;
  list-style: none;
}

.bitd.sheet .sheet-header .background li {
  width: 33.33%;
  float: left;
  height: 34px;
  margin: 2px 0;
  padding: 0 3px;
  line-height: 34px;
  color: #4b4a44;
}

.bitd.sheet.actor h4.box-title {
  line-height: 16px;
  margin: 13px 8px 2px;
  font-size: 15px;
  border-bottom: 1px solid #b5b3a4;
  text-align: center;
}

.bitd.sheet.actor ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.bitd.sheet.actor ul.statuses li.status.conditions {
  flex-grow: 3;
}

.bitd.sheet.actor .condition-checkbox {
  display: none;
}

.bitd.sheet.actor .condition {
  flex: 1 0 10%;
  margin: 5px;
}

.bitd.sheet.actor .condition .condition-name {
  margin: 0px;
}

.bitd.sheet.actor ul.attributes-list {
  flex: 0 0 192px;
  list-style: none;
  margin: 5px 5px 0;
  padding: 2px 2px 0;
  border-radius: 3px;
}

.bitd.sheet.actor .attribute {
  border: 2px groove #eeede0;
  margin-bottom: 5px;
}

.bitd.sheet.actor .attribute-header {
  flex: 1 0 100%;
  height: 30px;
}

.bitd.sheet.actor .attribute-header input {
  margin: 5px;
  text-align: right;
  font-size: 15px;
}

.bitd.sheet.actor .attribute-name {
  font-size: 15px;
  margin: 5px;
  font-weight: bold;
}

.bitd.sheet.actor .attribute-inputs input {
  display: inline;
  max-width: 20%;
  margin: 0;
  font-size: 15px;
  height: 28px;
}

.bitd.sheet.actor ul.actions-list {
  list-style: none;
  padding-left: 0px;
}

.bitd.sheet.actor .sheet-navigation .item {
  margin-top: 5px;
}

.bitd.sheet.actor .action-score h4.action-name.box-title {
  border: 0px;
  text-align: left;
}

.bitd.sheet.actor ul.actions-list li:last-child {
  border-bottom: 0px;
}

.bitd.sheet.actor .action-inputs input {
  display: inline;
  max-width: 20%;
  margin: 0;
  font-size: 15px;
  height: 28px;
}

.bitd.sheet.actor .action-inputs.sep {
  display: inline;
}

/* ----------------------------------------- */

/*  Character                                */

/* ----------------------------------------- */

.bitd.sheet.actor .header-flavor {
  flex: 1 0 100%;
  font-family: "Typeka", "Signika", "Palationo Linotype", serif;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.bitd.sheet.actor .header-staple {
 background: url('../images/staple.png') no-repeat 0 0;
 display: inline-block;
 float: left;
 min-height: 40px;
 min-width: 40px;
 height: 40px;
 width: 40px;
 vertical-align: middle; 
 background-size: contain;
}

.bitd.sheet.actor .header-flavor-logo {
  background: url('../images/doskvol-logo.png') no-repeat 0 0;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.bitd.sheet.actor .header-flavor-text {
  display: inline-block;
  vertical-align: middle;
}

.bitd.sheet.actor .header-flavor-main {
  font-size: 18px;
}

.bitd.sheet.actor .background input.crew, 
.bitd.sheet.actor .background input.heritage, 
.bitd.sheet.actor .background input.race {
  border-bottom: 2px outset #000;
}

.bitd.sheet.actor ul.statuses {
  list-style: none;
  margin: 0px 0px 0px 10px;
  padding: 0;
  flex: 1 0 100%;
}

.bitd.sheet.actor ul.statuses .status-name.box-title {
  background-color: #000;
  color: #fff;
  padding: 5px;
  transform: skew(-10deg);
  height: 1.8em;
}

.bitd.sheet.actor .pip-container {
  margin-left: -2px;

}

.bitd.sheet.actor ul.trauma.pips li.trauma.pip label.pip-container {
  margin-left: -2px;
}

.bitd.sheet.actor ul.stress.pips {
  flex-wrap: nowrap;
}

.bitd.sheet.actor ul.stress.pips li {
  flex-shrink: 0;
}

.bitd.sheet.actor ul.statuses li.status {
  flex: 0 0 50%;
}

.bitd.sheet.actor ul.statuses li.status.trauma {
  flex: 0 0 28%;
}

.bitd.sheet.actor ul.stress li.stress.pip input {
  display: none;
}

.bitd.sheet.actor ul.stress.pips li.stress .pip-container .pip-toggle {
  border: 2px solid #000;
  width: 1.5em;
  height: 1.8em;
  display: inline-block;
  overflow: hidden;
  transform: skew(-10deg);
}

.bitd.sheet.actor ul.stress.pips li.stress .pip-container input:checked ~ .pip-toggle {
  background-color: #000;
  border: 2px solid #fff;
  width: 1.5em;
  height: 1.8em;
  display: inline-block;
  overflow: hidden;
  background-color: #000;
  transform: skew(-10deg);
}

.bitd.sheet.actor ul.stress.pips li.stress .pip-container .pip-toggle:hover {
  box-shadow: 0 0 5px red;
}

.bitd.sheet.actor ul.trauma li.trauma.pip input {
  display: none;
}

.bitd.sheet.actor ul.trauma.pips li.trauma .pip-container .pip-toggle {
  border: 2px solid #000;
  width: 1.5em;
  height: 1.8em;
  display: inline-block;
  overflow: hidden;
  transform: skew(-10deg);
}

.bitd.sheet.actor ul.trauma.pips li.trauma .pip-container input:checked ~ .pip-toggle {
  background-color: #000;
  border: 2px solid #fff;
  width: 1.5em;
  height: 1.8em;
  display: inline-block;
  overflow: hidden;
  background-color: #000;
  transform: skew(-10deg);
}

.bitd.sheet.actor ul.trauma.pips li.trauma .pip-container .pip-toggle:hover {
  box-shadow: 0 0 5px red;
}

.bitd.sheet.actor li.status.trauma {
  margin-left: 100px;
}

.bitd.sheet.actor .form-group.conditons {
  border-bottom: 2px groove #eeede0;
}

.bitd.sheet.actor .form-group .condition-selector {
  text-align: right;
  margin-right: 10px;
}

.bitd.sheet.actor ul.conditions-list {
  list-style: none;
}