// _colors.scss

/* ----------------------------------------- */
/*  Colors                                   */
/* ----------------------------------------- */

$white: #fff;
$black: #000;
$grey: #363636;
$text: #12130f;
$background: #E1E0D4;
$pip: #fff;
$pip-hover: #DAD8CC;
$pip-checked: #770C17;
$banner: #363636;
$banner-text: #E1E0D4;
$placeholder: #7d7d7d;
