<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img
      class="profile"
      src="{{actor.img}}"
      title="{{actor.name}}"
      data-edit="img"
    />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{ localize 'BITD.Name' }}"
        />
      </h1>

      <h1 class="playbook-select">
        <input
          class="playbook-selector"
          type="text"
          name="data.items.playbook"
          value="{{data.items.playbook}}"
          placeholder="{{ localize 'BITD.Playbook' }}"
        />
      </h1>

      {{!-- Character Background --}}
      <ul class="background">
        <li>
          <input
            class="crew"
            type="text"
            name="data.details.crew"
            value="{{data.details.crew}}"
            placeholder="{{ localize 'BITD.Crew' }}"
          />
        </li>
        <li>
          <input
            class="heritage"
            type="text"
            name="data.details.heritage"
            value="{{data.details.heritage}}"
            placeholder="{{ localize 'BITD.Heritage' }}"
          />
        </li>
        <li>
          <input
            class="race"
            type="text"
            name="data.details.background"
            value="{{data.details.background}}"
            placeholder="{{ localize 'BITD.Background' }}"
          />
        </li>
      </ul>
    </div>

    {{!-- Status - Stress --}} {{>
    "systems/bitd/templates/actors/parts/stress.html"}}
  </header>

  {{!-- Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="score"
      ><i class="fas fa-mask"></i> {{ localize "BITD.Score" }}</a
    >
    <a class="item" data-tab="downtime">
      <i class="fas fa-clock"></i> {{ localize "BITD.Downtime" }}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab attributes flexrow" data-group="primary" data-tab="score">
      {{!-- Actions --}}
      <ul class="attributes-list">
        {{#each data.attributes as |at att|}}
        <li class="attribute flexrow">
          <div class="attribute-header flexrow">
            <h4 class="attribute-name group-title">{{ localize at.label}}</h4>
            <div class="attribute-inputs">
              <ul class="attribute pips flexrow">
                {{#each at.levels}}
                <li class="attribute pip">
                  <input class="pip-value {{att}}-value-{{@index}}"
                  id="{{att}}-value-{{@index}}" name="{{att}}-value-{{@index}}"
                  type="checkbox" value="{{@index}}" data-dtype="Number" {{#if
                  this}}checked{{/if}} />
                  <label
                    class="pip-toggle {{att}}-pip-{{@index}}"
                    for="{{att}}-value-{{@index}}"
                  ></label>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <ul class="actions-list">
            {{#each at.actions as |ac act|}}
            <li class="action-score flexrow">
              <ul class="action pips flexrow">
                {{#each ac.levels}}
                <li class="action pip">
                  <input class="pip-value {{act}}-value-{{@index}}"
                  id="{{act}}-value-{{@index}}" name="{{act}}-value-{{@index}}"
                  type="checkbox" value="{{@index}}" data-dtype="Number" {{#if
                  this}}checked{{/if}} />
                  <label
                    class="pip-toggle {{act}}-pip-{{@index}}"
                    for="{{act}}-value-{{@index}}"
                  ></label>
                </li>
                {{/each}}
              </ul>
              <h4 class="action-name box-title">{{ localize ac.label}}</h4>
            </li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>

      <section class="center-pane">
        {{!-- Load Out --}}
        <h4 class="load-out-label">{{ localize "BITD.LoadOut" }}</h4>
      </section>
    </div>
  </section>
</form>
